body{
    height: 2122px;
}
header{
   display: block;
    position: fixed;
    width: 100%;
    /* margin-left: -7px; */
    margin: -8px;
}
.brocode{
    font-family: cursive;
    text-align: center;
    list-style: none;
    
}
.part3{
    height: 600px;
    border: 2px solid red;

}

#part3-head{
    text-align: center;
    text-decoration: underline;
    padding-left: 30px;
    border: orangered;
    
    margin-top: 2px;

}

#part3-head::before{
   content: "";
   background: url("https://source.unsplash.com/random") no-repeat center;
   
}

.navbar{
    border: rgb(179, 117, 117);
    background-color: rgb(179, 117, 117);
    padding: 2px 3px;
    /* border-radius: 50px; */
}
.navigation{
    text-decoration: none;
    color: black;
}
.brother{
    display: flex;
    justify-content: center;
}
.item{
    padding: 2px 33px;
    list-style: none;
    color: rgb(15, 1, 1);
    
}
a:hover{
    color: rgb(16, 154, 218);
    text-decoration: underline;
    
}
/* section::before{
    
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
} */
.Section
{
    background-image: url("back-img.jpg");
    background-size: 101% 164%;
    /* border: 2px solid red; */
    height: 358px;
    padding-right: 55px;
    padding-top: 55px;
    background-repeat: no-repeat;
    
}
.heading{
    font-size: 28px;
}
.h2{
    padding-top: 3px;
    line-height: 1.8;
    margin-top: -14px;
    font-size: 32px;
    font-family: 'Baloo Tammudu 2', cursive;
}
.h1{
    padding-bottom: 2px;
    margin-bottom: 3px;
    font-family: monospace;
}
.quote{
    padding-left: 1036px;
    
}